@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 250, 249, 246;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  -webkit-font-smoothing: antialiased;
}

/* 直式排版優化 */
.vertical-text {
  writing-mode: vertical-rl;
}

input:focus {
  transition: all 0.3s ease;
}
